html,body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: auto;
    background-color: darkslategray;
    overflow: hidden;
}


footer,main{
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color : lightcyan;
    width: auto;
}
.header{
    background-color : lightcyan;
    text-align: center;
    margin: 5px;
}
h1{
    font-size: xx-large;
}

main{
    flex-grow: 1;
    flex-wrap : wrap;
    flex-basis: auto;
    overflow-y: scroll;
    justify-content: space-evenly;
    height: 78vh;
}

.film{
    display: flex;
    margin : 5px;
    padding: 1px 4px;
    flex-direction: column;
    word-wrap: break-word;
}

p{
    text-align : center;
    width: 240px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    border-style: solid;
    border-width: medium;
    border-color: darkslategray;
    font-weight: bold;
}

@media only screen and (min-width: 1080px){
    body{
        width : 1080px;
        align-self: center;
    }
}