html,body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: auto;
    background-color: darkslategray;
    overflow: hidden;
}

footer,main{
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color : lightcyan;
    width: auto;
}
.header{
    background-color : lightcyan;
    text-align: center;
    margin: 5px;
}
h1{
    font-size: xx-large;
}

.infosacteur{
    display: flex;
    margin : 5px;
    padding: 1px 4px;
    flex-direction: column;
    justify-content: center;
}

.people{
    display: flex;
    margin : 5px;
    padding: 1px 4px;
    flex-direction: row;
}


main{
    flex-grow: 1;
    flex-direction : column;
    flex-basis: auto;
    overflow-y: auto;
}

.film,.ligne1{
    display: flex;
    flex-direction: row;
}

.ligne1{
    justify-content: space-between;
}

.infosfilm{
    display: flex;
    margin : 5px;
    padding: 1px 4px;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

.titre{
    flex-grow: 1;
}

.OriginalTitle{
    text-align: end;
}

.titre,.date,.OriginalTitle,.Slogan{
    font-size: x-large;
}

.Resume{
    text-align: justify;
}

p{
    text-align : center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    border-style: solid;
    border-width: medium;
    border-color: darkslategray;
    font-weight: bold;
}

.film>img{
    width: 240px;
}

@media only screen and (min-width: 1080px){
    body{
        width : 1080px;
        align-self: center;
    }
}